* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

.main-padding {
  padding: 0 4vw;

}

.section-header {
  position: relative;
  margin: 0;

  span {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%) translateY(-90%) rotate(-90deg);
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
}

// MAIN CONTAINER
.main {
  @include fontStack(400, 18px, var(--main-text-color));

  height: 100%;
}

// MAIN HEADER
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 30px;
  opacity: 0;

  &__title {
    @include fontStack(400, 24px, var(--main-text-color));
    text-transform: uppercase;
    span {
      font-weight: 700;
    }
  }

  &__menu {
    display: inline-flex;
    list-style: none;
    &-item {
      a {
        text-transform: uppercase;
        margin-left: 44px;
        text-decoration: none;
        color: var(--main-text-color);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: var(--light-green-active);
        }
      }
    }
  }
}

// MAIN HERO
.main-hero {
  display: grid;
  background: url(./../images/main-hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  opacity: 0;

  &__title {
    text-align: center;
    align-self: center;
    justify-self: center;
    line-height: 50px;
    &-first{
      @include fontStack(400, 96px, var(--white));
    transform: translateX(1000px);
    }
    &-second{
      @include fontStack(400, 96px, var(--white));
      transform: translateX(-1000px);
    }
  }
}

// MAIN BIKES RENTAL
.main-bikes-rental {
  display: grid;
  grid-template-columns: 40px 200px 1fr;
  grid-template-rows: 600px;
  gap: 1px 1px;
  grid-template-areas: ". . .";
  margin: 80px 0 0 0;

  &__categories {
    &-menu {
      list-style: none;
      display: block;
      margin: 0;

      &__link {
        padding: 40px 0;

        a {
          @include fontStack(400, 36px, var(--gray));

          text-decoration: none;

          &:hover {
            color: var(--light-green-active);
          }
        }
      }
    }
  }

  &__bikes {
    display: flex;
    justify-content: space-between;

    &__single-bike {
      display: flex;
      flex-direction: column;
      align-content: space-around;

      .fade-leave-active {
        transition: all 0.9s ease;
        overflow: hidden;
        visibility: visible;
        position: absolute;
        left: 0;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-content: space-around;
      }

      .fade-enter,
      .fade-leave-to {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-content: space-around;
      }

      &__image {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin-top: 20px;

        img {
          max-height: 260px;
        }

        .prev,
        .next {
          align-self: center;
          cursor: pointer;
          height: 40px;
          background: none;
          width: auto;
          color: var(--gray);
          font-weight: bold;
          font-size: 18px;
          transition: 0.7s ease;
          border: none;
          border-radius: 0 4px 4px 0;
          text-decoration: none;
          user-select: none;
        }
      }

      &__name {
        letter-spacing: 0.1em;
        padding-left: 20px;
      }

      &__desc {
        line-height: 23px;
        letter-spacing: 0.1em;
        padding-left: 20px;
        width: 70%;
      }
    }

    &__cat-description {
      max-width: 30%;
      line-height: 23px;
      letter-spacing: 0.1em;
    }
  }
}

//MAIN RENT BIKE FAQ
.main-rent-bike-faq {
  display: flex;
  height: 250vh;

  &__image {
    background: url(./../images/rent_black_bike.png) no-repeat;
    background-size: cover;
    width: 30%;
    height: 100vh;
  }

  &__description {
    width: 70%;

    &__content {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 50px;

      p {
        @include fontStack(400, 24px, var(--main-text-color));

        line-height: 47px;
        width: 90%;
        overflow-wrap: break-word;

        a {
          color: var(--link);
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            letter-spacing: 1.3px;
          }
        }
      }
    }
  }
}

// MAIN CONTACT

.main-contact {
  display: grid;
  grid-template-columns: 40px 1fr 60%;
  grid-template-areas: ". . .";
  margin: 50px 0 0 0;

  &__address {
    @include fontStack(400, 24px, var(--main-text-color));

    padding: 0 0 0 50px;
    line-height: 47px;
    width: 90%;
    overflow-wrap: break-word;

    h2 {
      @include fontStack(400, 24px, var(--main-text-color));

      text-transform: uppercase;
      margin-bottom: 0;

      span {
        font-weight: 700;
      }
    }
  }

  &__map {
    #map {
      height: 500px !important;
      width: 100% !important;
      border: 0 !important;
    }
  }
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 4vw;
  background-color: #4f4f4f;

  &__content {
    &__header {
      @include fontStack(400, 22px, var(--white));

      span {
        font-weight: 700;
      }
    }

    h3 {
      @include fontStack(700, 16px, var(--light-green-active));

      margin: 8px 0;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;

      @include fontStack(400, 16px, var(--white));

      &:hover {
        color: var(--gray);
      }

      &:last-child {
        @include fontStack(400, 14px, var(--gray));

        transition: all 0.3s ease;

        &:hover {
          color: var(--white);
        }
      }
    }

    ul {
      li {
        @include fontStack(400, 16px, var(--white));

        list-style: none;
        line-height: 24px;
      }
    }

    &:nth-child(5) {
      @include fontStack(400, 14px, var(--gray));

      align-self: flex-end;
    }
  }
}

